
/* Dummy*/

 .twoside{
	display: flex;
	width:1500px;
	max-width: 100%;
	margin:0 auto;
	padding:5% 10% 0 10%;
}
.contentleftside , .contentrightside{
	width:50%;
	overflow: hidden;
}


.contentRightSide{
	height:80vh;
	width:50%;
	display:flex;
	flex-direction:column;
	overflow: hidden;
}
.contentSection{
	height:80vh;
	width:100%;
}
.lefttextheading{
	font-size: 48px;
    font-family:"Abhaya Libre", serif;
    font-style:italic;
    letter-spacing: -1.5px;
    font-weight:400;
    line-height: 120%;
    padding: 15px 0;
}
.leftsidecontent{
	font-size:16px;
    font-family: "Funnel Display", serif;
    line-height: 170%;
    font-weight:200;
    padding-bottom: 15px;
	width:100%;
	text-align: justify;
}
.leftsidewrapper{
	margin:auto;
	width:90%;
}
.imagecontainer{
	display: none;
	width:100%;
	height:650px;
}  
.twosideimage{
	width:100%;
	height: 100%;
} 

.desktopPhotos {
	width:40vw;
	height:80vh;
	border-radius:20px;
	position:relative;
	overflow:hidden;
}

 .desktopPhoto {
	position:absolute;
	width:40vw;
	height:100%;
} 

.red {
	background: url('./assets/private\ pool.webp');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.green {
	background: url('./assets/open\ auditorium.webp');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.blue {
	background: url('./assets/gardenwalkingpath.webp');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.pink{
	background: url('./assets/restaurant.webp');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

/* Dummy */

 

 @media screen and (max-width:1024px){
	 .contentRightSide , .desktopPhotos{
		height:50vh;
		
	} 
	.leftsidecontent{
		font-size:14px;
	}
	.lefttextheading{
		font-size: 38px;
	}

} 


/* defines styles for screens up to 599px wide */
 @media screen and (max-width: 599px) {
	.left {
		display:none;
	}
	
	.right {
		height:auto;
		width:100%;
		align-items:center;	
	}	
	
	.desktopPhotos {
		display:none;
	}
	
	.mobileContent {
		display:block;
	}
	

}  
